.body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(fon.png);
    color: white;
}

.cntr{
    text-align: center;
}

.choosetxt{
    font-size: 16px;
    font-style: medium;
    border-radius: 10px;
    padding: 7.5px;
    border: 3px solid white;
    background-color:rgba(0, 0, 0, 0.734);
    color: rgb(255, 255, 255);
}

.ramka{
    color: rgb(255, 255, 255);
    margin: auto;
    display: flex; 
    text-align: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    border-radius: 15px;
}
.vibor1 .vibor2 .vibor3 .vibor4{
    margin: auto;
    color: white;
    text-align: center;
    font-weight:bold;
    font-size: 14px;
    display: flex;
    border-radius: 15px;
}

.vibor1{
    margin: auto;
    color: rgb(33, 202, 39);
    text-align: left; 
    font-weight:bold;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.vibor2{
    margin: auto;
    color: rgb(202, 191, 33);
    text-align: left; 
    font-weight:bold;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.vibor3{
    margin: auto;
    color: rgb(202, 33, 33);
    text-align: left; 
    font-weight:bold;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.button{
    margin-top: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px;
}