.cont {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.game {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: rgb(0, 255, 21) 5px solid;
    margin: 0 auto;
}
.cell {
    box-sizing: border-box;
    border: rgb(0, 255, 21) 5px solid;
    width: 200px;
    height: 200px;
    font-size: 196px;
}
#start {
    margin: 10px 0;
    padding: 5px;
}
#notification {
    display: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #cf9393;
    width: 600px;
    box-sizing: border-box;
}
.win {
    background-color: lightgreen;
}
.draw {
    background-color: rgb(160, 167, 123);
}
.lose {
    background-color: rgb(173, 0, 0);
    color:white;
}
