body{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;;
    width: 100%;
    margin: 0 auto;
    background-image: url(fon.svg);
    background-size: cover;
    display: flex;
	justify-content: center;
	align-items: center;
}
.calculator{
    margin-top: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: rgb(100, 100, 100);
}
.calcul{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: rgb(50, 50, 50);
}
.display {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: rgb(50, 50, 50);
    margin: 0 10px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.display::-webkit-scrollbar {
    display: block;
    height: 3px;
}
.btn {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}
.btn:hover {
    transform: scale(1.2);
    color: rgb(255, 115, 0);
}
.clear:hover, .bracket:hover, .operation:hover, .result:hover {
    transform: scale(1.2);
    color: rgb(255, 255, 255);
}
.cifra {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}
.result{
    height: 130px;
}
.clear, .bracket, .operation, .result{
    background-color: rgb(255, 115, 0);
}
.backbaton{
    background-color: grey;
    font-size: 26px;
    padding: 5px;
    border-radius: 30px;
}
a{
    text-decoration: none;
    color: white;
}