.body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(fon.svg);
    color: white;
}
.header{
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 15px;
    font-size: 48px;    
}
.cntr{
    text-align: center;
}
.fio{
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-color: black;
}
.kurstype{
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: black;
    border-color: black;
}
.mestype{
    font-weight: 500;
    padding: 7.5px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border-color: black;
}
.container{
    margin: 20px;
}
.fiocurs{
    justify-content: space-between;
    text-align: center;
}
.form-group{
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    font-size: 26px;
}
.ramka{
    color: rgb(255, 255, 255);
    margin: auto;
    display: flex; 
    text-align: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    border-radius: 15px;
}
.btnbuy{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 26px;
    margin-top: 15px;
    padding: 7.5px;
    margin: auto;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    width: 25%;
}