body{
    color: white;
    font-family: 'Montserrat', sans-serif;;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    background-image: url(fon.svg);
    background-repeat:no-repeat;
    background-size: cover;
}
.cntr{
    text-align: center;
}
.all{
    margin-left: 100px;
    margin-right: 100px;
}
.header{
    background-color: black;
    padding-bottom: 25px;
    font-size: 32px;
    font-weight: 700;
    background-size: cover;
}
.container {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.main-menu{
    padding-top: 30px;
    text-align: center;
}
.ogl{
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 5px solid white;
    margin-left: 25px;
    margin-right: 25px;
}
.footer{
    background-color: black;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
.lifoot{
    font-size: 16px;
    font-weight: 600;
}
.oglfoot{
    font-weight: 500;
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 0.5px solid white;
    margin-left: 5px;
}
.maintxt{
    color: black;
    background-color: white;
    border-radius: 30px;
    border: 5px solid black;
    margin-top: 40px;
}
.mainzagolovok{
    font-weight: 700;
    font-size: 48px;
    margin-top: 20px;
}
.sod{
    font-weight: 500;
    font-size: 24px;
}
.zagolovokpart{
    font-weight: 600;
    font-size: 40px;
    margin-top: 100px;
}
.segment{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.part{
    padding: 10px;
    display: flex;
    height: 15rem;
    width: 25rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid  #000000;
    border-radius: 20px;
}
.image_hall{
    width: 50%;
    height: 100%;
}
.foto{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.details{
    font-size: 14px;
    width: 45%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.form-group{
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 12.5px;
}
.zagolovokmaks{
    font-size: 24px;
    font-weight: bold;
    color: rgb(93, 153, 154);
    text-align: center;
}
.baton{
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 2px;
    margin-left: 5px;
}
.ssilka{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.zagolovokblend{
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 128, 0);
    text-align: center;
}
.zagolovokbrush{
    font-size: 24px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    text-align: center;
}
.topNubex {
	position: fixed;
	right: 45px;
	bottom: 45px;
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 5px solid white;
}